<div class="container">
<h1 class="font-PE">Prezențe</h1>
<br>

<p class="font-PE">Numărul de ședințe la care poți să participi rămase este <strong>{{numarSedinteRamase}}</strong></p>

<p class="font-PE">Mai jos este un tabel cu prezențele tale:</p>

<div class="div table-responsive table-responsive-sm">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nume</th>
          <th scope="col">Email</th>
          <th scope="col">Locatie</th>
          <th scope="col">Data</th>
          <th scope="col">Start</th>
          <th scope="col">Stop</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prezenta of prezenteUser; let i = index">
          <td>{{i + 1}}</td>
          <td>{{prezenta.displayName}}</td>
          <td>{{prezenta.email}}</td>
          <td>{{prezenta.locatie}}</td>
          <td>{{prezenta.data | date: 'dd.MM.yyyy'}}</td>
          <td>{{prezenta.start | date: 'HH:mm'}}</td>
          <td>{{prezenta.stop | date: 'HH:mm'}}</td>
      </tbody>
    </table>
  </div>
</div>