<div class="container">
    <br>
    <h1 class="font-PE">Prezențe</h1>
  
    <br>
    <p class="font-PE">Mai jos se află prezențele elevilor.</p>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Elev</mat-label>
      <input type="text"
             placeholder="Alege elev"
             aria-label="Elev"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let elev of filteredOptions | async" [value]="elev.displayName" (click)="getPrezenteForElevById(elev.id)" >
          {{elev.displayName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <br>
    <br>
    <div class="div table-responsive table-responsive-sm">
      <table class="table table-hover">
        <thead>
          <tr style="cursor: pointer;">
            <th scope="col">#</th>
            <th scope="col">Nume</th>
            <th scope="col">Email</th>
            <th scope="col">Locație</th>
            <th scope="col">Dată</th>
            <th scope="col">Start</th>
            <th scope="col">Stop</th>
          </tr>
        </thead>
        <tbody>
          <tr style="cursor: pointer;" *ngFor="let prezenta of prezente; let i = index">
            <td>{{i + 1}}</td>
            <td>{{prezenta.displayName}}</td>
            <td>{{prezenta.email}}</td>
            <td>{{prezenta.locatie}}</td>
            <td>{{prezenta.data | date: 'dd.MM.yyyy'}}</td>
            <td>{{prezenta.start | date: 'HH:mm'}}</td>
            <td>{{prezenta.stop | date: 'HH:mm'}}</td>
        </tbody>
      </table>
    </div>
  </div>