<div class="container">
  <h1 class="font-PE">Grupe</h1>
  <br>
  <p class="font-PE">Aici se organizează grupele. Mai jos o sa fie afișate grupele disponibile, data și ora când se țin
    și posibilitatea de a participa la ele.</p>
  <p class="font-PE">Ca să participi la o grupă trebuie să dai click pe PARTICIP la grupa respectivă. Dacă dorești să nu
    mai participi, trebuie să apeși pe RENUNȚ.</p>

  <div *appHasRole='["Moderator"]' class="row">
    <div class="col sm-6">
      <button mat-raised-button (click)="openModal(template)">
        <mat-icon>group_add</mat-icon>
        Adaugă grupă
      </button>
    </div>
  </div>
  
  <br>

  <div *appHasRole='["Moderator"]' class="row">
    <h4 class="font-PE"><strong>Grupele active: </strong></h4>
  </div>

  <br>

  <div *appHasRole='["Moderator"]'>
    <div *ngFor="let grupaActiva of grupeActive">
      <mat-card class="card-class">
        <mat-card-title-group>
            <mat-card-title *ngIf="grupaActiva.locatieId == 1" class="font-PE"><strong>Water Park</strong></mat-card-title>
            <img *ngIf="grupaActiva.locatieId == 1" mat-card-sm-image src="../../assets/water-park.jpg">
            <mat-card-title *ngIf="grupaActiva.locatieId == 2" class="font-PE"><strong>Imperial Garden</strong></mat-card-title>
            <img *ngIf="grupaActiva.locatieId == 2" mat-card-sm-image src="../../assets/imperial-garden.jpg">
            <mat-card-title class="font-PE" *ngIf="grupaActiva.locatieId == 3"><strong>Bazinul Carol</strong></mat-card-title>
            <img *ngIf="grupaActiva.locatieId == 3" mat-card-sm-image src="../../assets/bazin-carol.jpg">
            <mat-card-subtitle>
              <p class="font-PE" *ngIf="grupaActiva.locatieId == 1"><strong>Adresă</strong>: Strada Banul Stepan 2A, Craiova<mat-icon> location_on</mat-icon></p>
              <p class="font-PE" *ngIf="grupaActiva.locatieId == 2"><strong>Adresă</strong>: Drumul Industriilor 17, Craiova <mat-icon> location_on</mat-icon></p>
              <p class="font-PE" *ngIf="grupaActiva.locatieId == 3"><strong>Adresă</strong>: Strada Bibescu 30, Craiova<mat-icon> location_on</mat-icon></p>
              <p class="font-PE" *ngIf="grupaActiva.locatieId == 1"><strong>Nivel</strong>: începători/intermediari/avansați<mat-icon>stars</mat-icon></p>
              <p class="font-PE" *ngIf="grupaActiva.locatieId == 2"><strong>Nivel</strong>: începători <mat-icon>stars</mat-icon></p>
              <p class="font-PE" *ngIf="grupaActiva.locatieId == 3"><strong>Nivel</strong>: intermediari/avansați<mat-icon>stars</mat-icon></p>
              <p class="font-PE"><strong>Data</strong>: {{grupaActiva.dataGrupa | date: 'dd.MM.yyyy'}}<mat-icon>calendar_today</mat-icon></p>
              <p class="font-PE"><strong>Ora</strong>: {{grupaActiva.oraGrupa | date: 'HH:mm'}}<mat-icon>access_time</mat-icon></p>        
              <p class="font-PE"><strong>Participanti</strong> <mat-icon matBadge="{{grupaActiva.elevi.length}}" matBadgeColor="primary">person</mat-icon></p>
              <button mat-raised-button (click)="deleteGrupa(grupaActiva.id)" ><mat-icon>delete</mat-icon>
                Șterge grupă</button>          
            </mat-card-subtitle>
        </mat-card-title-group>
      </mat-card>

      <!-- <mat-card class="locatie-card" *ngIf="grupaActiva.locatieId == 2">
        <mat-card-title-group>
            <mat-card-title *ngIf="grupaActiva.locatieId == 2" class="font-PE"><strong>Imperial Garden</strong></mat-card-title>
            <img *ngIf="grupaActiva.locatieId == 2" mat-card-sm-image src="../../assets/imperial-garden.jpg">
        </mat-card-title-group>
        <mat-card-content>
          <p class="font-PE" *ngIf="grupaActiva.locatieId == 2"><strong>Adresă</strong>: Drumul Industriilor 17, Craiova <mat-icon> location_on</mat-icon></p>
          <p class="font-PE" *ngIf="grupaActiva.locatieId == 2"><strong>Nivel</strong>: începători <mat-icon>stars</mat-icon></p>
          <p class="font-PE"><strong>Data</strong>: {{grupaActiva.dataGrupa | date: 'dd.MM.yyyy'}}<mat-icon>calendar_today</mat-icon></p>
          <p class="font-PE"><strong>Ora</strong>: {{grupaActiva.oraGrupa | date: 'HH:mm'}}<mat-icon>access_time</mat-icon></p>
          <p class="font-PE"><strong>Participanti</strong> <mat-icon matBadge="{{grupaActiva.elevi.length}}" matBadgeColor="primary">person</mat-icon></p>
          <button mat-raised-button (click)="deleteGrupa(grupaActiva.id)" ><mat-icon>delete</mat-icon>
            Șterge grupă</button>          
      </mat-card-content>
      </mat-card>
      
      <mat-card class="locatie-card" *ngIf="grupaActiva.locatieId == 3">
        <mat-card-title-group>
            <mat-card-title class="font-PE" *ngIf="grupaActiva.locatieId == 3"><strong>Bazinul Carol</strong></mat-card-title>
            <img *ngIf="grupaActiva.locatieId == 3" mat-card-sm-image src="../../assets/bazin-carol.jpg">
        </mat-card-title-group>
        <mat-card-content>
          <p class="font-PE" *ngIf="grupaActiva.locatieId == 3"><strong>Adresă</strong>: Strada Bibescu 30, Craiova<mat-icon> location_on</mat-icon></p>
          <p class="font-PE" *ngIf="grupaActiva.locatieId == 3"><strong>Nivel</strong>: intermediari/avansați<mat-icon>stars</mat-icon></p>
          <p class="font-PE"><strong>Data</strong>: {{grupaActiva.dataGrupa | date: 'dd.MM.yyyy'}}<mat-icon>calendar_today</mat-icon></p>
          <p class="font-PE"><strong>Ora</strong>: {{grupaActiva.oraGrupa | date: 'HH:mm'}}<mat-icon>access_time</mat-icon></p>        
          <p class="font-PE"><strong>Participanti</strong> <mat-icon matBadge="{{grupaActiva.elevi.length}}" matBadgeColor="primary">person</mat-icon></p>
          <button mat-raised-button (click)="deleteGrupa(grupaActiva.id)" ><mat-icon>delete</mat-icon>
            Șterge grupă</button>          
      </mat-card-content>
      </mat-card> -->
      <br>    
    </div>
  </div>

  <br>

  <div *appHasRole='["Member"]' class="row">
    <h4 class="font-PE"><strong>Grupa activă la care poți participa: </strong></h4>
  </div>

  <br>

  <div *appHasRole='["Member"]'>
    <div *ngIf="urmatoareaGrupaActiva != undefined">
      <mat-card class="locatie-card" *ngIf="urmatoareaGrupaActiva.locatieId == 1">
        <mat-card-title-group>
            <mat-card-title class="font-PE"><strong>Water Park</strong></mat-card-title>
            <img mat-card-sm-image src="../../assets/water-park.jpg">
        </mat-card-title-group>
        <mat-card-content>
          <p class="font-PE"><strong>Adresă</strong>: Strada Banul Stepan 2A, Craiova<mat-icon> location_on</mat-icon></p>
          <p class="font-PE"><strong>Nivel</strong>: începători/intermediari/avansați<mat-icon>stars</mat-icon></p>
          <p class="font-PE"><strong>Data</strong>: {{urmatoareaGrupaActiva.dataGrupa | date: 'dd.MM.yyyy'}}<mat-icon>calendar_today</mat-icon></p>
          <p class="font-PE"><strong>Ora</strong>: {{urmatoareaGrupaActiva.oraGrupa | date: 'HH:mm'}}<mat-icon>access_time</mat-icon></p>        
          <button *ngIf="urmatoareaGrupaActiva.particip == false" mat-raised-button color="primary" (click)="particip(urmatoareaGrupaActiva.id)" ><mat-icon>person_add</mat-icon>
            Particip</button>
          <button *ngIf="urmatoareaGrupaActiva.particip == true" mat-raised-button color="warn" (click)="renunt(urmatoareaGrupaActiva.id)" ><mat-icon>cancel</mat-icon>
            Renunț</button>                    
      </mat-card-content>
      </mat-card>
      <mat-card class="locatie-card" *ngIf="urmatoareaGrupaActiva.locatieId == 2">
        <mat-card-title-group>
            <mat-card-title class="font-PE"><strong>Imperial Garden</strong></mat-card-title>
            <img mat-card-sm-image src="../../assets/imperial-garden.jpg">
        </mat-card-title-group>
        <mat-card-content>
          <p class="font-PE"><strong>Adresă</strong>: Drumul Industriilor 17, Craiova<mat-icon> location_on</mat-icon></p>
          <p class="font-PE"><strong>Nivel</strong>: începători<mat-icon>stars</mat-icon></p>
          <p class="font-PE"><strong>Data</strong>: {{urmatoareaGrupaActiva.dataGrupa | date: 'dd.MM.yyyy'}}<mat-icon>calendar_today</mat-icon></p>
          <p class="font-PE"><strong>Ora</strong>: {{urmatoareaGrupaActiva.oraGrupa | date: 'HH:mm'}}<mat-icon>access_time</mat-icon></p>
          <button *ngIf="urmatoareaGrupaActiva.particip == false" mat-raised-button color="primary" (click)="particip(urmatoareaGrupaActiva.id)" ><mat-icon>person_add</mat-icon>
            Particip</button>
          <button *ngIf="urmatoareaGrupaActiva.particip == true" mat-raised-button color="warn" (click)="renunt(urmatoareaGrupaActiva.id)" ><mat-icon>cancel</mat-icon>
            Renunț</button>                         
      </mat-card-content>
      </mat-card>
      
      <mat-card class="locatie-card" *ngIf="urmatoareaGrupaActiva.locatieId == 3">
        <mat-card-title-group>
            <mat-card-title class="font-PE"><strong>Bazinul Carol</strong></mat-card-title>
            <img mat-card-sm-image src="../../assets/bazin-carol.jpg">
        </mat-card-title-group>
        <mat-card-content>
          <p class="font-PE"><strong>Adresă</strong>: Strada Bibescu 30, Craiova<mat-icon> location_on</mat-icon></p>
          <p class="font-PE"><strong>Nivel</strong>: intermediari/avansați<mat-icon>stars</mat-icon></p>
          <p class="font-PE"><strong>Data</strong>: {{urmatoareaGrupaActiva.dataGrupa | date: 'dd.MM.yyyy'}}<mat-icon>calendar_today</mat-icon></p>
          <p class="font-PE"><strong>Ora</strong>: {{urmatoareaGrupaActiva.oraGrupa | date: 'HH:mm'}}<mat-icon>access_time</mat-icon></p>        
          <button *ngIf="urmatoareaGrupaActiva.particip == false" mat-raised-button color="primary" (click)="particip(urmatoareaGrupaActiva.id)" ><mat-icon>person_add</mat-icon>
            Particip</button>
          <button *ngIf="urmatoareaGrupaActiva.particip == true" mat-raised-button color="warn" (click)="renunt(urmatoareaGrupaActiva.id)" ><mat-icon>cancel</mat-icon>
            Renunț</button>             
      </mat-card-content>
      </mat-card>
      <br>    
    </div>
  </div>  
  
  <br>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Adaugă o grupă</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <mat-form-field>

          <mat-label>Selectează locația</mat-label>
          <mat-select>
            <mat-option (click)="changeLocatieDrop(locatiiDropInModal[i])"
              *ngFor="let loc of locatiiDropInModal; let i = index;" [value]="loc.value">
              {{loc.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <label *ngIf="locatieIdInDrop != 0">Selectează <strong>data</strong> grupei</label>
        <br>
        <br>
        <div *ngIf="locatieIdInDrop != 0" class="pr-3 pb-3 pe-3 w-auto">
          <bs-datepicker-inline (bsValueChange)="changedate($event)" [bsValue]="bsInlineValue"></bs-datepicker-inline>
        </div>
        <p *ngIf="dataSelectata != undefined">Data selectată este <strong>{{dataSelectata | date: 'dd.MM.yyyy'}}</strong></p>
        <label *ngIf="dataSelectata != undefined">Selectează <strong>ora</strong> grupei</label>
        <timepicker *ngIf="dataSelectata != undefined" [(ngModel)]="oraGrupa" [showMeridian]="false" ></timepicker>
        <br>
      <button mat-button (click)="modalRef?.hide()">Închide</button>
      <button [disabled]="oraGrupa == undefined" mat-button cdkFocusInitial (click)="postGrupa()">Adaugă</button>
    </div>

  </ng-template>