<h3>Termeni și condiții</h3>
<br>
<mat-card class="scrollable-card">
    <p class="font-PE">
        Termeni si conditii referitoare la protectia datelor cu caracter personal
        Prin completarea formuarului de inscriere iti dai acceptul ca datele transmise sa fie prelucrate in scopopul functionarii aplicatiei.
        Pentru folosirea site-ului in cele mai bune conditii, se recomanda citirea cu atentie a termenilor si conditiilor afisate pe acest site
        Din pacate, conform Regulamentului general privind protecția datelor ”GDPR” este nevoie de acceptul tau pentru a putea comunica electronic.
        Incepand cu data de 25 mai 2018 va fi abrogata Directiva 95/46/CE (si Legea nationala nr. 677/2001 pentru protectia persoanelor cu privire la prelucrarea datelor cu caracter personal si libera circulatie a acestor date) si va fi aplicabil Regulamentul (UE) 2016/679 al Parlamentului European si al Consiliului din 27 aprilie 2016 privind protecția persoanelor fizice în ceea ce privește prelucrarea datelor cu caracter personal și privind libera circulație a acestor date („Regulamentul general privind protecția datelor”/”GDPR”).
        1. Operatorul datelor dumneavoastră cu caracter personal este https://apa.marinashub.ro adresa de corespondență fiind contact@marinashub.ro
        2. Scopul prelucrării datelor cu caracter personal se rezumă la desfășurarea activității. Vom prelucra datele cu caracter personal într-o manieră conformă cu Regulamentul EU 2016/679, care in Romania se aplica incepind cu 25 mai 2018; temeiul legal fiind încheierea și executarea contractului în cazul procesării comenzilor (conform Art. 6 alin. (1) lit. (b), din GDPR).
        3. Datele cu caracter personal prelucrate includ numele, prenumele, numărul de telefon, adresa de e-mail si varsta.
        4. Datele tale cu caracter personal nu pot fi prelucrate de alte entități
        5. Datele tale cu caracter personal vor fi păstrate și prelucrate pentru o perioadă nelimitata.
        6. Transmiterea datelor cu caracter personal este voluntară, dar refuzul de a le furniza (cum ar fi nume, prenume, adresa de email etc.) te va împiedica să iti faci cont pe acest site.
        7. Ai dreptul de a depune o plângere la autoritatea de supraveghere a prelucrării datelor în cazul în care consideri că ti-au fost încălcate drepturile.
        Lista tuturor drepturilor tale odată cu adoptarea și implementarea GDPR
        
        Limitarea raspunderii

        a. Utilizatorul declara in mod expres ca intelege si este de acord cu urmatoarele afirmatii:
        
        I. Utilizarea serviciului se face pe propria raspundere. Astfel https://apa.marinashub.ro nu poate fi responsabil pentru nici un fel de daune directe sau indirecte produse prin utilizarea site-ului sau a site-urilor web in legatura cu acesta.
        
        II. https://apa.marinashub.ro asigura buna functionare a site-ului si improspatarea informatiilor in masura in care eforturile nu sunt disproportionate cu interesul manifestat de utilizatori si nu raspunde sau garanteaza ca:
        
        serviciile indeplinesc sau vor fi adaptate la orice cerinta a dumneavoastra;
        serviciile vor fi disponibile si functionale permanent (pot exista perioade scurte de maintenanta);
        III. Informatiile obtinute prin utilizarea serviciului au un grad de acuratete bun care nu exclude posibilitatea existentei unor eventuale erori. Utilizatorul va fi singura persoana responsabila privind modul de utilizare si de eventualele pierderi ce pot rezulta din utilizarea fara verificare a acestor informatii.
        
        IV. Nici un sfat sau alte informatii orale sau scrise, obtinute de catre Utilizator de la https://apa.marinashub.ro prin intermediul serviciului, nu va crea o garantie care nu este stipulata expres in Conditiile de Utilizare.
        
        V. Raspunderea https://apa.marinashub.ro (daca aceasta este stabilita de catre o instanta judecatoreasca sau un tribunal arbitral) rezultata in orice mod din sau in legatura cu furnizarea serviciului conform acestor conditii, este limitata in cazul fiecarui eveniment.
                    
        Securitate

        Utilizatorul ia la cunostinta ca https://apa.marinashub.ro nu poate controla si nu ofera nici un fel de garantii privind securitatea informatiilor care sunt vehiculate prin Internet.

        Generalitati

        a. Modificari ale conditiilor - https://apa.marinashub.ro poate modifica prezentele conditii la anumite intervale de timp fara a anunta Utilizatorul. Astfel de modificari vor fi aduse la cunostinta Utilizatorului prin afisare pe site-ul web. Modificarile facute astfel sunt socotite a fi acceptate de catre Utilizator daca acesta continua sa foloseasca serviciul dupa afisarea lor pe site-ul web.

        b. Forta Majora - https://apa.marinashub.ro nu isi asuma responsabilitatea pentru imposibilitatea de a se conforma obligatiilor prevazute in aceste conditii, ca rezultat al oricarei cauze aflate in afara controlului sau, incluzand dar nelimitandu-se la evenimente fortuite, conditii meteorologice nefavorabile, actiunea sau inactiunea guvernului sau a altor autoritati, a altor retele de care https://apa.marinashub.ro nu este responsabila.

        c. Jurisdictie - Acest site web (exclusiv site-uri ale tertelor parti spre care exista linkuri) este controlat de catre https://apa.marinashub.ro. Prin accesarea acestui site, Utilzatorul accepta ca aceste conditii si orice disputa legata de ele sunt guvernate si interpretate in concordanta cu legile Romaniei, iar Utilizatorul admite sa se supuna jurisdictiei exclusive a instantelor judecatoresti de pe teritoriul Romaniei. Acest site web poate fi accesat de oriunde din Romania si de peste hotare. https://apa.marinashub.ro nu ofera nici o asigurare ca ceea ce acest site contine se supune legilor (inclusiv celor de proprietate intelectuala) altor tari in afara Romaniei. Daca Utilizatorul acceseaza acest site din afara Romaniei, o face pe riscul sau si este singur responsabil de respectarea legilor teritoriului in care se afla.

        d. Confidentialitate  - https://apa.marinashub.ro nu garanteaza ca utilizarea acestui site va fi confidentiala. https://apa.marinashub.ro nu este responsabil pentru nici o paguba pe care o sufera Utilizatorul sau alta persoana ca rezultat al incalcarii confidentialitatii cu privire la utilizarea de catre Utilizator a acestui site. Orice informatie pe care Utilizatorul o dezvaluie pe site se poate sa nu fie in siguranta pe durata transmiterii ei prin Internet. Terte parti au posibilitatea de a intercepta transmisiunile pe care le face Utilizatorul cand foloseste acest site web. Unele servicii pe care le acceseaza Utilizatorul pe acest site permit https://apa.marinashub.ro sa primeasca informatii cu caracter personal.

        Legislatie in domeniu:

        Directiva 2013/37/UE a Parlamentului European si a Consiliului din 26 iunie 2013 privind reutilizarea informatiilor din sectorul public;
        LEGEA nr. 109/2007 privind reutilizarea informatiilor din institutiile publice;
        LEGEA nr. 544/2001 privind liberul acces la informatiile de interes public;
        LEGE nr. 31 din 16 noiembrie 1990 republicata, actualizata (legea societatilor comerciale).
        Regulamentul (UE) 2016/679 privind protectia persoanelor fizice in ceea ce priveste prelucrarea datelor cu caracter personal.
    </p>
</mat-card>
  
