<div class="container">
  <h1 class="font-PE">Elevi</h1>

  <br>
  <p class="font-PE">Mai jos se află prezențele elevilor.</p>

  <br>
  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Elev</mat-label>
    <input type="text"
           placeholder="Alege elev"
           aria-label="Elev"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option (onSelectionChange)="getElevById(elev.id)" *ngFor="let elev of filteredOptions | async" [value]="elev.displayName" (click)="getElevById(elev.id)">
        {{elev.displayName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <br>
  <br>

  <div class="div table-responsive table-responsive-sm">
    <table class="table table-hover">
      <thead>
        <tr style="cursor: pointer;">
          <th scope="col">#</th>
          <th scope="col">Nume</th>
          <th scope="col">Email</th>
          <th scope="col">Telefon</th>
          <th scope="col">Locație</th>
          <th scope="col">Nivel</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr style="cursor: pointer;" *ngFor="let elev of elevi; let i = index">
          <td>{{i + 1}}</td>
          <td>{{elev.displayName}}</td>
          <td>{{elev.email}}</td>
          <td>{{elev.numarDeTelefon}}</td>
          <td *ngIf="elev.locatieId == '1'" >Water Park</td>
          <td *ngIf="elev.locatieId == '2'" >Imperial Garden</td>
          <td *ngIf="elev.locatieId == '3'" >Bazinul Carol</td>
          <td *ngIf="elev.nivelId == 1" >Începător</td>
          <td *ngIf="elev.nivelId == 2" >Intermediar</td>
          <td *ngIf="elev.nivelId == 3" >Avansat</td>
          <td> <button mat-raised-button (click)="openModalEditElev(i,elevModal)" >Edit elev</button></td>                    
      </tbody>
    </table>  
</div>


<ng-template #elevModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Detalii elev</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="font-PE" >Editează elevul <strong>{{elevToBeEdited.displayName}}</strong></p>


    <button mat-button (click)="modalRef?.hide()">Închide</button>
    <button mat-button cdkFocusInitial (click)="editElev(elevToBeEdited)">Edit</button>
  </div>
</ng-template>