<div class="container">
    <h1 class="font-PE">Acasă</h1>
    <br>
    <h3 class="font-PE">Bine ai venit!</h3>
    <p class="font-PE"> Aceasta este o aplicație de management a cursurilor de înot. Ea îndeplinește mai multe funcționalități printre care împărțirea elevilor pe grupe, contabilizarea prezențelor lor, publicarea de anunțuri, contact și așa mai departe. 
    </p>

    <button mat-raised-button (click)="openDialog()">
      <mat-icon >note_add</mat-icon>
      Adaugă anunț
    </button>
    <br>
    <br>
    <div *ngFor="let anunt of anunturi" >
        <mat-card>
            <mat-card-header>
              <mat-card-title>{{anunt.data}}</mat-card-title>
              <mat-card-subtitle>{{anunt.autor}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{anunt.text}}
                </p>
              </mat-card-content>        
            <mat-card-actions align="start">
              <button (click)="stergeAnunt(anunt.id)" mat-button>
                <mat-icon>delete</mat-icon>                
                Șterge
              </button>
            </mat-card-actions>
          </mat-card>
          <br>
    </div>

</div>