<div class="container">
    <h1 class="font-PE">Acasă</h1>
    <br>
    <h3 class="font-PE">Bine ai venit!</h3>
    <p class="font-PE"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque blandit vel quam in hendrerit. Morbi suscipit sapien lectus, vel finibus est accumsan eget. Quisque condimentum vulputate ligula, ut tincidunt tortor egestas eget. In convallis mauris ac turpis suscipit, vitae vulputate arcu elementum. Duis congue sodales arcu, nec iaculis nibh molestie id. Fusce bibendum neque et urna convallis lobortis. Maecenas porta, neque vitae pellentesque convallis, justo mi condimentum odio, in cursus nulla nisl eget arcu. Nullam blandit porttitor posuere. Vestibulum egestas ut quam sit amet convallis. Nam sit amet ante arcu. Maecenas molestie ligula ut mi imperdiet, quis porttitor est porta.
        Etiam ut tristique arcu. Aliquam quis dictum ante. Sed finibus eros id orci congue commodo. Aenean sollicitudin, est ut faucibus dignissim, dolor lectus luctus nisl, eget porttitor justo est sed purus. In commodo lorem libero, fringilla condimentum mauris ultrices id. Praesent tincidunt, mi sit amet fermentum euismod, sem leo pretium nulla, a convallis velit enim ut metus. Fusce at porttitor justo. Nam malesuada bibendum justo sit amet hendrerit. Maecenas arcu urna, porttitor sit amet libero ut, gravida interdum ipsum.
    </p>

    <button mat-raised-button (click)="openDialog()">
      <mat-icon >note_add</mat-icon>
      Adaugă anunț
    </button>
    <br>
    <br>
    <div *ngFor="let anunt of anunturi" >
        <mat-card>
            <mat-card-header>
              <mat-card-title>{{anunt.data}}</mat-card-title>
              <mat-card-subtitle>{{anunt.autor}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{anunt.text}}
                </p>
              </mat-card-content>        
            <mat-card-actions align="start">
              <button (click)="stergeAnunt(anunt.id)" mat-button>
                <mat-icon>delete</mat-icon>                
                Șterge
              </button>
            </mat-card-actions>
          </mat-card>
          <br>
    </div>

</div>