<div class="container">
    <h1 class="font-PE">Acasă</h1>
    <br>
    <h3 class="font-PE">Bine ai venit!</h3>
    <p class="font-PE"> Aceasta este o aplicație de management a cursurilor de înot. Ea îndeplinește mai multe funcționalități printre care împărțirea elevilor pe grupe, contabilizarea prezențelor elevilor, publicarea de anunțuri, contact și așa mai departe. 
    </p>

    <button mat-raised-button (click)="openModal(template)">
      <mat-icon >note_add</mat-icon>
      Adaugă anunț
    </button>
    <br>
    <br>
    <div *ngFor="let anunt of anunturi" >
        <mat-card>
            <mat-card-header>
              <mat-card-title>{{anunt.data}}</mat-card-title>
              <mat-card-subtitle>{{anunt.autor}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{anunt.text}}
                </p>
              </mat-card-content>        
            <mat-card-actions align="start">
              <button (click)="stergeAnunt(anunt.id)" mat-button>
                <mat-icon>delete</mat-icon>                
                Șterge
              </button>
            </mat-card-actions>
          </mat-card>
          <br>
    </div>
    <div class="d-flex justify-content-center" *ngIf="pagination" >
      <pagination 
      class="my-pagination" 
      [boundaryLinks]="true" 
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [maxSize]="10"
      [nextText]="'Următoarea'"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      extText="&rsaquo;" 
      firstText="&laquo;" 
      lastText="&raquo;">

</pagination>
    </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Adaugă un anunț</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
            <mat-form-field class="mat-form-field-class" >
              <textarea [(ngModel)]="inputValue" class="text-area-class" matInput placeholder="Scrie aici anunțul pe care vrei să îl adaugi"></textarea>
            </mat-form-field>
            <br>
      <button mat-button (click)="modalRef?.hide()">Închide</button>
      <button [disabled]="inputValue.length == 0" mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="postAnunt()" >Adaugă</button>
      </div>
</ng-template>