[req]
default_bits = 2048
prompt = no
default_md = sha256
x509_extensions = v3_req
distinguished_name = dn

[dn]
C = RO
ST = RO
L = Bucharest
O = Vlad Marinas
OU = Vlad Marinas Unit
emailAddress = marinasvlad@gmail.com
CN = localhost

[v3_req]
subjectAltName = @vlad_marinas

[vlad_marinas]
DNS.1 = localhost
