.selected {
    background-color: #cce5ff;
}

.img-class {
    border-radius: 7%;
    box-shadow: 2px 2px 3px;
}

.locatie-card {
    margin-bottom: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}