.locatie-card {
    max-width: 400px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;    
  }

  .selected {
    background-color: #cce5ff;
  }

  .img-locatie{
    border-radius: 7%;
    box-shadow: 2px 2px 3px;
  }

  // overwrite the checkbox background
::ng-deep .mat-checkbox-checked .mat-checkbox-background, 
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: black !important;
}

// overwrite the ripple overlay on hover and click
::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
  background-color: black !important;
}