.sidenav-container {
  height: 100%;
}

mat-sidenav {
  height: 100%;
}

.custom-sidenav {
  width: 20%; /* Adjust the width as needed */
}


.vertical-toggle-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.vertical-align-content-button
{
  line-height: 7em;  
  display: flex;
  align-items: center;
}

.top-elements
{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.toggle-button{
  height: 5em;  
  width: 5em;  

}

.iconButton{
  height:fit-content;
}