<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="isSidenavOpen" class="custom-sidenav">
    <!-- Add your navigation links here -->
    <mat-nav-list>
      <a mat-list-item routerLink="/" class="nav-link">
        <span class="icon-wrapper">
          <mat-icon>home</mat-icon>
        </span>
      </a>      <!-- Add more navigation links as needed -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-icon-button class="toggle-button" (click)="toggleSidenav()">
      <mat-icon>{{ isSidenavOpen ? 'close' : 'menu' }}</mat-icon>
    </button>
    <!-- Add your main content here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>