.sidenav-container {
  height: 100%;
}

mat-sidenav {
  height: 100%;
}

.custom-sidenav {
  width: 10em; /* Adjust the width as needed */
}

.icon-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.icon-wrapper mat-icon {
  line-height: 1;
}