  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [opened]="isSidenavOpen" class="custom-sidenav">
  
          <mat-button-toggle-group style="border-color: white;" name="fontStyle" aria-label="Font Style" class="vertical-toggle-group" >
            <mat-button-toggle routerLink="/" class="vertical-align-content-button" value="bold">
              <mat-icon class="iconButton" >home</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle routerLink="grupe" class="vertical-align-content-button" value="italic">
              <mat-icon>group</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle *appHasRole='["Member"]' routerLink="prezenteelev" class="vertical-align-content-button" value="underline" >
              <mat-icon>person</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle *appHasRole='["Moderator"]' routerLink="management" class="vertical-align-content-button" value="underline">
              <mat-icon>settings</mat-icon>
            </mat-button-toggle>            
            <mat-button-toggle routerLink="contact" class="vertical-align-content-button" value="underline">
              <mat-icon>contact_support</mat-icon>         
            </mat-button-toggle>
            <mat-button-toggle (click)="logout()" routerLink="contact" class="vertical-align-content-button" value="underline">
              <mat-icon >logout</mat-icon>
            </mat-button-toggle>               
          </mat-button-toggle-group>        
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="top-elements">
        <button mat-icon-button class="toggle-button" (click)="toggleSidenav()">
          <mat-icon>{{ isSidenavOpen ? 'close' : 'menu' }}</mat-icon>
        </button>
        <h3 class="font-PE" style="padding-right: 15px;">{{(currentUser$ | async).displayName}}</h3>
      </div>
  
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
