<br>
<div class="container" style="width: 30vh;">
    <div class="row">
        <input [(ngModel)]="user.email" autocomplete="off" type="text" class="form-control" placeholder="Email" aria-label="Email"
            aria-describedby="user">
    </div>
    
    <br>
    
    <div class="row">
        <input [required] [(ngModel)]="user.password" type="password" class="form-control" placeholder="Parola"
            aria-label="Parola" aria-describedby="parola">
    </div>
    <br>
    
    <div class="row">
        <button mat-raised-button (click)="signIn()"><mat-icon>login</mat-icon>
            Sign In</button>
    </div>
    <br>
    <div class="row">
        <button mat-raised-button (click)="amUitatParola()"><mat-icon>lock</mat-icon>
            Am uitat parola</button>
    </div>
    <br>    
    <div class="row">
        <button (click)="signInGoogle()" mat-raised-button>
            <span>
                <img style="height: 3vh; width: 4vh;"
                    src="{{googleLogoUrl}}" alt="Google Logo">
            </span>
            Sign in cu Google
        </button>
    </div>
    <br>
    <div class="row">
        <button (click)="signInFacebook()" mat-raised-button>
            <span>
                <img style="height: 3vh; width: 4vh;"
                    src="{{facebookLogoUrl}}" alt="Facebook Logo">
            </span>
            Sign in cu Facebook
        </button>
    </div>
    <br>
</div>
