
<div class="container">
    <div style="padding-top: 100px;display: flex; justify-content: center; align-items: center;">
    
        <div class="container" style="width: 30vh;">
            <div class="row">
                <img src="../../assets/appLogo.png" alt="appLogo">
            </div>
            <br>
            <div *ngIf="initialButtonsVisible == true" class="row">
                <button mat-raised-button (click)="signInClick()" >Sign In</button>
            </div>
            <br>
            <br>
            <div *ngIf="initialButtonsVisible == true" class="row">
                <button mat-raised-button (click)="registerClick()" >
                    Înregistrează-te</button>
            </div>
            <br> 
            <div *ngIf="signInVisible == true || registerVisible == true || amUitatParolaVisible == true || schimbaParolaVisible == true"  class="row">
                <button mat-raised-button  (click)="inapoiClick()" ><mat-icon>keyboard_backspace</mat-icon>
                    Înapoi</button>
            </div>                                 
        </div>  
    </div>
    <app-sign-in *ngIf="signInVisible == true" (parolaUitata)="handleAmUitatParola($event)"></app-sign-in>
    <app-register [oauthAccount]="oauthAccount" *ngIf="registerVisible == true" (confirmation)="handleConfirmation($event)" ></app-register>
    <app-parola-uitata *ngIf="amUitatParolaVisible == true" (parolaSchimbataSuccess)="handleParolaSchimbata($event)" ></app-parola-uitata>
    <app-schimba-parola [token]="tokenResetParola" [email]="emailSchimbParola" *ngIf="schimbaParolaVisible == true" (parolaSchimbataSuccess)="handleParolaSchimbataSuccess($event)" ></app-schimba-parola>
</div>