
<div class="container">
    <div style="padding-top: 100px;display: flex; justify-content: center; align-items: center;">
    
        <div class="container" style="width: 30vh;">
            <div class="row">
                <img src="../../assets/appLogo.png" alt="appLogo">
            </div>
            <br>
            <div *ngIf="initialButtonsVisible == true" class="row">
                <button mat-raised-button (click)="signInClick()" >Sign In</button>
            </div>
            <br>
            <br>
            <div *ngIf="initialButtonsVisible == true" class="row">
                <button mat-raised-button (click)="registerClick()" >
                    Înregistrează-te</button>
            </div>
            <br> 
            <div *ngIf="signInVisible == true || registerVisible == true" class="row">
                <button mat-raised-button  (click)="inapoiClick()" ><mat-icon>keyboard_backspace</mat-icon>
                    Înapoi</button>
            </div>                                 
        </div>  
    </div>
    <app-sign-in *ngIf="signInVisible == true"></app-sign-in>
    <app-register [oauthAccount]="oauthAccount" *ngIf="registerVisible == true" (confirmation)="handleValueFromChild($event)" ></app-register>      
</div>